body {
    background-color: #331848;
    color: #fff;
}
h1 {
    font-family: "acumin-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 76px;
}
h2 {
    font-family: "acumin-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
}
h4 {
    font-family: "yantramanav", sans-serif;
    font-weight: normal;
    font-size: 24px;
}
.textoverde {
    color: #269c36;
}
p {
    font-family: "Poppins";
    font-weight: 200px;
    font-size: 14px;
    line-height: 30px;
    
}
/* AQUI COMIENZA EL HEADER */
header a {
    color: #269d36;
    text-decoration: none;
    padding-left: 80px;
    font-size: 15px;
    font-family: "Poppins";
    font-weight: bold;
}
header {
    position: fixed;
    background-color: #331848;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 1000;
    padding-top: 10px;
}
header img {
    width: 240px;
    margin-left: 70%;
}

header nav {
    margin-right: 10%;
}
/* AQUI COMIENZA EL HERO */
.hero {
    padding-top: 6%;
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 8%;
    
}
.hero img {
    width: 650px;
    z-index: -1; /* para poner la foto de fondo */
}
.textohero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
.textohero h2{
    
    margin: 0;
    padding-top: 23%;
}
.textohero h1{
    margin: 0;
    white-space: nowrap;
    padding-top: 3%;  
}
.textohero p{
    position: relative;
    width: 110%;
    
}
.textohero h4{
    padding-top: 8%;
    margin: 0;
}
.textohero button{
    width: 27%;
    height: 100%;
    padding-top: 2.3%;
    padding-bottom: 2.3%;
    border: none;
    border-radius: 25px;
    color: #fff;
    background-color: #269c36;
}
.textohero a{
    color: #269c36;
    padding-left: 4%;
}
.botones{
    display: flex;
    align-items: center;
    font-family: "Poppins";
    font-size: 13px;
    font-weight: bold;
}
/*AQUI COMIENZA EL ABOUT*/
.about{
    margin-left: 14%;
    margin-right: 13%;
    margin-top: 7%;
    display: flex;
    align-items: flex-start;
}
.about img{
    width: 500px;
}
.textoabout{
    margin-left: 6%;
}
.textoabout h2{
    margin-top: 4%;
    padding: 0;
}
.textoabout h4{
    font-family: "Poppins";
    line-height: 200%;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
.textoabout p{
    font-size: 12px;
    margin-top: 4%;
}
.textoabout button{
    margin-top: 3%;
    width: 32%;
    height: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    border: none;
    border-radius: 25px;
    color: #fff;
    background-color: #269c36;
    font-family: "Poppins";
    font-size: 12px;
}
/*AQUI COMIENZA MIS SERVICIOS*/
.servicio{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tituloservicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;/*centrar el subtitulo*/
}
.tituloservicios h2{
    margin-bottom: 3%;
}
.tituloservicios p{
    padding-top: 0%;
    margin-top: 0%;
}
/*en esta clase se hacen los recuadros de los servicios*/
/*formas tarjetas*/
.grillatrajetas {
    display: flex;
    flex-direction: column;
}
.tarjetasarriba,
.tarjetasabajo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.2% ;
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}
.grillatarjetas p {
    color: gray;
}
.bordestarjeta {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    flex: 1;
}
.tarjeta {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    width: 100%;
    height: 20%;
    position: relative;
    padding-bottom: 7%;
    padding-top: 7%;
}
.tarjeta::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    border-radius: 10px;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
    z-index: -1;

}
/*aqui empieza el contenido de las tarjetas*/
.contenidotarjeta{
    display: flex;
    align-content: flex-start;
    flex-direction: column;
}
.contenidotarjeta p{
    color: #2f2f2e;
    font-size: 12px;
    text-align: left;
    padding-left: 10%;
    line-height: 150%;
    padding-right: 10%;
    padding-top: 0%;
    margin-top: 0;
    padding-bottom: 0%;
    margin-bottom: 6%;
}
.contenidotarjeta h5{
    font-size: 22px;
    font-family: poppins;
    padding-top: 4%;
    margin-top: 0%;
    margin-bottom: 4%;
    text-align: left;
    padding-left: 10%;
}
.contenidotarjeta img{
    padding-bottom: 0%;
    margin-bottom: 0%;
    width: 25%;
    padding-left: 10%;
}
.contenidotarjeta a{
    text-align: left;
    padding: 10%;
    padding-top: 0;
    margin-top: 0;
    font-family: poppins;
    font-size: 15px;
    color: #000;
    padding-bottom: 0;
    margin-bottom: 0;
}
/*AQUI TERMINA EL SERVICIOS*/

/*COMIENZA EL PORTFOLIO*/
.portfolio{
    margin-top: 3%;
    margin-right: 15%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.portfolio h2{
    text-align: center;
    margin-bottom: 6%;
}
.portfolio nav{
    display: flex;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 7%;
}
.portfolio a{
    color: white;
    text-decoration: none;
    font-family: "Poppins";
}
.portfolio a:hover{
    
    height: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border: none;
    border-radius: 25px;
    color: #331848;
    background-color: #269c36;
    font-family: "Poppins";
    text-align: center;
}
.galeria{
    display: flex;
    flex-direction: row;
}
.galeria div{
    width: 33%;
    display: flex;
    flex-direction: column;
    
}
.galeria img{
    width: 90%;
    padding-top: 0;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
}
.galeria img:hover{
    opacity: 40% ;

}
.columna2 img{
    padding-bottom: 10%;
}
/*ACA EMPIEZA EL CSS DE LAS OPINIONES*/
.opiniones{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opiniones h2{
    margin-bottom: 1%;
    text-align: center;
}
.subtituloopiniones{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.fotosclientes{
    display: flex;
    align-items: center;
}
.fotoredonda{
    clip-path: circle(40%);
    width: 40%;
}
.circulosclientes img{
    position: relative;
    width: 90%;
}
.clientesolo{
    width: 50%;
}
.recuadroverde{
    z-index: -1;
    position: relative;
    background-color: #269c36;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 2%;
    padding: 5%;
    margin-right: 20%;
    margin-bottom: 10%;
    width: 62%;
    height: 45%;
}
.recuadroverde img{
    z-index: 2;
    position: absolute;
    
}
.clientesolo{
    margin-bottom: 5%;
}
.fotoredonda {
    
    z-index: 3;
    margin-top: 0%; /* Ajusta la distancia desde la parte superior en porcentaje */
    margin-left: 16%; /* Ajusta la distancia desde la parte izquierda en porcentaje */
    /* Puedes ajustar estos valores según necesites */
}
.recuadroverde p{
    font-size: 11px;
    line-height: 200%;
    font-weight: lighter;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0%;
}
.recuadroverde h4{
    font-size: 14px;
    padding-top: 9%;
    padding-bottom: 0%;
    margin: 0;
    font-family: "poppins";
}
.recuadroverde h5{
    padding: 0;
    margin: 0;
    font-family: "poppins";
    font-weight: lighter;
}
/*aqui empieza el newletter*/