body {
    background-color: #331848;
    color: #fff;
}

h1 {
    font-family: "acumin-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 76px;
}

h2 {
    font-family: "acumin-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
}

h4 {
    font-family: "yantramanav", sans-serif;
    font-weight: normal;
    font-size: 24px;
}

.textoverde {
    color: #269c36;
}

p {
    font-family: "Poppins";
    font-weight: 200px;
    font-size: 14px;
    line-height: 30px;
    
}

/* AQUI COMIENZA EL HEADER */
header a {
    color: #269d36;
    text-decoration: none;
    padding-left: 80px;
    font-size: 15px;
    font-family: "Poppins";
    font-weight: bold;
}

header {
    position: fixed;
    background-color: #331848;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 1000;
    padding-top: 10px;
}

header img {
    width: 240px;
    margin-left: 70%;
}

header nav {
    margin-right: 10%;
}

/* AQUI COMIENZA EL HERO */
.hero {
    padding-top: 6%;
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 8%;
    
}

.hero img {
    width: 650px;
    z-index: -1; /* para poner la foto de fondo */
}

.textohero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
.textohero h2{
    
    margin: 0;
    padding-top: 23%;
}

.textohero h1{
    margin: 0;
    white-space: nowrap;
    padding-top: 3%;
    
}
.textohero p{
    position: relative;
    
}
.textohero h4{
    padding-top: 8%;
    margin: 0;
}
.textohero button{
    width: 27%;
    height: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: none;
    border-radius: 25px;
    color: #fff;
    background-color: #269c36;
}
.textohero a{
    color: #269c36;
    padding-left: 4%;
}
.botones{
    display: flex;
    align-items: center;
    font-family: "Poppins";
    font-size: 13px;
    font-weight: bold;
}




